<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    scope -> singleton create only ones, prototype everytime creates-->
<!--    <bean id="alien" class="com.mehmetsukrukavak.Alien" scope="prototype"></bean>-->
    <bean id="alien" class="com.mehmetsukrukavak.Alien">
        <property name="age" value="18"></property>
<!--        <property name="laptop" ref="laptop"></property>-->
<!--        <constructor-arg value="Mehmet" />-->
<!--        <constructor-arg ref="laptop" />-->
        <constructor-arg name="name" value="Mehmet" />
        <constructor-arg name="laptop" ref="laptop" />
    </bean>
    <bean id="laptop" class="com.mehmetsukrukavak.Laptop">
    </bean>
</beans>
